/.venv
/.env
frontend/node_modules/


# OS files (these don't need a prefix, they can appear anywhere)
.DS_Store
Thumbs.db



# Editor
.vscode/
.idea/
*.swp
*.swo

backend/media/
*.mp4
*.webm
*.wav
*.mp3
*.ogg
*.m4a
*.aac

/media

backend/__pycache__/